.post__contact {
    padding: 0;

    a {
        margin-bottom: 20px;
        color: $color;
        &:hover {
            color: yellow;
        }
    }
}

.contact {
    font-size: 16.9px;
    margin-bottom: 5px;

    &--mgtop {
        margin-top: 25px;
    }
}