.photos {
    float: left;
    max-width: 450px;
    margin-left: 50px;
    margin-right: 100px;
}

.photos h4 {
    margin-bottom: 7px;
    color:rgb(163, 163, 163);
}

.str__photo {
    margin-right: 2px;
}