<header class="header">
        <div class="header__top">
                <a class="left" href="#">✆79-99-66</a>
                <img class="center" src="assets/images/logo1.png" alt="">

                <span class="right">Тольятти, 10 квартал
                  <span class="otstup">ул. Свердлова, 22 </span> </span>

        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link nav_border" href="index.html">Главная</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link has-subnav" href="#">Номера</a>
                    <ul class="subnav">
                        <li>
                            <a class= "subnav__link" href="egipet.html">«Большой Египет»</a>
                        </li>
                        <li><a class= "subnav__link" href="japan.html">«Япония»</a></li>
                        <li><a class= "subnav__link" href="ostrov.html">«Остров»</a></li>
                        <li><a class= "subnav__link" href="indastrial.html">«Индастриал»</a></li>
                    </ul>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="uslugi.html">Услуги</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="contacts.html">Контакты</a>
                </li>
            </ul>
        </nav>
    </div>

</header>
